@model IEnumerable<UserRoleViewModel>

  <h1>Show User and their Roles</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userRole in Model)
        {
            <tr>
                <td>@userRole.Username</td>
                <td>@userRole.RoleName</td>
            </tr>
        }
    </tbody>
</table>